<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.practicekt">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticeKt"
        tools:targetApi="31">
        <activity
            android:name=".activity.ExoPlayer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LottieAnimation"
            android:exported="false" />
        <activity
            android:name=".activity.workManager.WorkManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RuntimePermission"
            android:exported="false" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.rv.RvActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DatePickerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".activity.layout.ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.layout.FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.layout.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.layout.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.databinding.DataActivity"
            android:exported="false" />
        <activity
            android:name=".activity.navigationController.NavControlActivity"
            android:exported="false" />
        <activity
            android:name=".activity.rv2.FoodRvActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BarCodeScanner"
            android:exported="true" />

        <service
            android:name="androidx.work.WorkManager"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:ignore="Instantiatable" />
    </application>

</manifest>